@import "../../../../../../variables";

.cardWrapper {
    .cardBody {
        padding: 15px;
        background-color: black;

        .artistName {
            margin: 0;
            font-size: 20px;
        }

        .albumName {
            margin: 0;
            font-size: 18px;
            font-family: "Montserrat Light";
            color: #999999;
        }

        .countDown {
            font-size: 30px;
            font-family: "Montserrat Black";
        }
    }
}
