@import "../../../../../../variables";

.cardWrapper {
    // For flex-based system (+ ReleaseCardList SCSS)
    // margin: 25px;
    // width: 300px;

    margin: 15px 0;
    transition: 0.4s;
    display: flex;
    flex-direction: column;

    img {
        max-width: 100%;
    }

    p {
        font-size: 14px;
        font-family: "Montserrat Light";
        color: #aaaaaa;
        margin: 0;
    }

    &:hover {
        transition: 0.4s;
        box-shadow: 0 9px 18px 0 rgba(128, 128, 128, 0.25),
            0 9px 30px 0 rgba(128, 128, 128, 0.2);
    }

    .cardBody {
        padding: 20px;
        height: 100%;
        background-color: black;
        // border-top: 2px solid #666666;

        .banner {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 10px;

            h3 {
                margin: 0;
                font-size: 18px;
            }
        }

        .albumName {
            font-size: 18px;
            color: #aaaaaa;
        }

        h4 {
            font-size: 28px;
        }
    }
}
