@import "../../../../../../variables";

.cardWrapper {
  display: flex;
  // text-align: right;
  font-weight: 500;
  font-size: 30px;
 
  .artistName {
    display: flex;
    align-items: center;
    margin: 0;
    height: 35px;
    padding-left: 10px;
    font-size: 15px;
    background-color: black;
    color: white;
  }

  .cardBody {
    padding: 0;
  
    background-color: black;
    color: white;
  }

  .albumName {
    margin: 0;
    font-size: 18px;
    font-weight: 100;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
   
  }

  .countDown {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
   
  }
}