@import "../../../variables";

// .editor {
//     min-height: 200px;
//     background-color: $secondary-color;
//     padding: 0 10px;
// }

// .editor {
//   background-color: white !important;

// }
.wysWrapper {

  padding-left: -200px;
  margin-top: 50px;
  background-color: #222528;
}
.ceInlineTool {
  background-color: black;
  color: red;
}
.ce-inline-toolbar__buttons {
  background-color: gray;
  color: blue;
}

// div.ce-inline-toolbar.ce-inline-toolbar--left-oriented.ce-inline-toolbar--showed,
// div.ce-inline-toolbar__buttons {
//   background-color: $background-color !important;
// }

// #editor-js {
//     * {
//         background-color: $background-color !important;
//     }

//     div.ce-settings__default-zone {
//         background-color: $background-color !important;
//     }
// }

// .ceInlineTool {
//     background-color: red !important;
//     color: black;
// }

// .ce-inline-toolbar__buttons {
//     background-color: yellowgreen !important;
// }

.wysiWrapper {
//   z-index: -999 !important;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 5px;
//   margin-left: 200px;
}
