@import "../../../variables";

.editor {
    min-height: 200px;
    background-color: $secondary-color;
    padding: 0 10px;
}

.wysiWrapper {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 5px;
}
