.loading {
    text-align: center;
    height: 2em;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 3em;
    left: 0;
    margin: auto;

    .dots {
        margin-left: -1.5em;
        opacity: 0;
        filter: alpha(opacity=0);
        animation: loading-dots-fadein 0.5s linear forwards;

        i {
            width: 0.5em;
            height: 0.5em;
            display: inline-block;
            vertical-align: middle;
            background: #e0e0e0;
            border-radius: 50%;
            margin: 0 0.125em;
            animation: loading-dots-middle-dots 0.5s linear infinite;
            background: #707070;

            &:first-child {
                animation: loading-dots-first-dot 0.5s linear infinite;
                opacity: 0;
                filter: alpha(opacity=0);
                transform: translate(-1em);
            }

            &:last-child {
                animation: loading-dots-last-dot 0.5s linear infinite;
            }
        }
    }
}

@keyframes loading-dots-fadein {
    100% {
        opacity: 1;
        filter: none;
    }
}

@keyframes loading-dots-first-dot {
    100% {
        transform: translate(1em);
        opacity: 1;
        filter: none;
    }
}

@keyframes loading-dots-middle-dots {
    100% {
        transform: translate(1em);
    }
}

@keyframes loading-dots-last-dot {
    100% {
        transform: translate(2em);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
