@import "../../../../variables";

.topPart {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 10px;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 10px;

    div {
        display: flex;
        justify-content: space-evenly;
    }
}

h4,
h3,
form {
    padding-top: 20px;
}

hr {
    width: 90%;
    height: 1px;
    background-color: #777777;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .topPart {
        flex-direction: column;

        div {
            width: 100%;

            button {
                width: 30%;
            }
        }
    }
}
