@import "../../../../../variables";

.PreviewRelease {
    .media {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 400px;

        img {
            max-height: 100%;
        }

        .banner {
            padding: 25px 0 25px 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-size: 36px;
                font-family: "Montserrat Black";
            }

            h3 {
                font-size: 18px;
                color: #888888;
                font-family: "Montserrat Light";
                margin-bottom: 25px;
            }

            p {
                font-family: "Montserrat Light";
                font-size: 15px;
            }
        }

        .drop {
            p {
                font-family: "Montserrat Light Italic";
                color: $primary-color;
                margin-bottom: 0;
            }

            h2 {
                font-size: 36px;
            }
        }

        .links {
            display: flex;
            text-align: center;

            article {
                width: 75px;
                i {
                    font-size: 28px;
                    cursor: pointer;
                }

                p {
                    font-family: "Montserrat Light";
                    font-size: 11px;
                    color: $font-color;
                    padding: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
}
