@import "../../../../../variables";

.PreviewRelease {
    .media {
        position: relative;
        display: flex;

        .artwork {
            img {
                width: 400px;
            }
        }

        .banner {
            padding: 25px 0 25px 25px;
            display: flex;
            flex-direction: column;

            p {
                font-family: "Montserrat Light";
                font-size: 14px;
            }

            .drop {
                margin-bottom: 25px;

                p {
                    font-family: $font-stack;
                    color: #888888;
                    margin-bottom: 0;
                }

                h2 {
                    font-size: 40px;
                }
            }

            .links {
                display: flex;
                flex-wrap: wrap;

                article {
                    text-align: center;
                    width: 75px;
                    height: 75px;
                    cursor: pointer;

                    &:hover {
                        i {
                            font-size: 26px;
                        }

                        p {
                            color: $primary-color;
                        }
                    }

                    i {
                        font-size: 24px;
                    }

                    p {
                        font-family: "Montserrat Light";
                        font-size: 11px;
                        color: $font-color;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .PreviewRelease {
        .media {
            flex-direction: column;

            .artwork {
                background-color: $navbar-color;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            .banner {
                .links {
                    justify-content: center;
                }
            }
        }
    }
}
