@import "../../../../variables";

.smallbutton {
    display: inline-flex;
    height: 30px;
    width: 150px;
    margin: 5px 5px 5px 5px;
    background-color: $primary-color;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    cursor: pointer;

    .Btntext {
        // opacity: 0.8;
        transition: 0.4s;
        color: black;
        z-index: 2;
        text-decoration: none;
    }

    &:hover {
        .Btntext {
            color: white;
        }
    }

    .translate {
        width: 100%;
        height: 250%;
        transform: rotate(50deg);
        left: -200px;
        top: -30px;
        background: $secondary-color;
        position: absolute;
        transition: all 0.3s ease-Out;
        z-index: 1;
    }
}

.smallbutton:hover > .translate {
    left: -8px;
}

//Add this classname to your button to create a small styled button
