@import "../../../../variables";

.SmallButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    background-color: $primary-color;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    .text {
        transition: 0.4s;
        color: white;
        z-index: 1;
        text-decoration: none;
    }

    &:hover {
        background-color: #cf0168d3;
        transition: all 0.3s ease-Out;
        .text {
            color: white;
        }
    }

}
//Add this classname to your button to create a small styled button
