@import "../../../variables";

.Header {
    color: $secondary-color;
    margin-bottom: 25px;
    font-weight: bolder;
    text-align: left;
    font-size: 28px;

    p {
        font-size: 16px;
        font-family: "Montserrat Light";
        color: #888888;
    }
}
