@import "../../../variables";

.NotFound {
    display: flex;
    flex-direction: column;
    width: calc(100vw - #{$navbar-width});
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        max-width: 300px;
    }

    p {
        font-size: 20px;
    }
}
