@import "../../../variables";

.tab {
    margin-top: 25px;
    overflow: hidden;

    button {
        position: relative;
        background-color: $secondary-color;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 50px;
        border-radius: 25px 25px 0 0;
        transition: 0.4s;

        font-family: "Montserrat Bold";
        font-size: 20px;

        &:hover {
            background-color: #333333;
            // outline: none;

            &::before,
            &::after {
                box-shadow: 0 25px 0 0 #333333;
            }
        }

        &.active {
            background-color: $navbar-color;
            outline: none;

            &::before,
            &::after {
                box-shadow: 0 25px 0 0 $navbar-color;
                z-index: 1;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            transition: inherit;

            background-color: none;
            height: 50px;
            bottom: 0;
            width: 25px;
            box-shadow: 0 25px 0 0 $secondary-color;
        }

        &::before {
            z-index: 0;
            right: -25px;
            border-bottom-left-radius: 25px;
        }

        &::after {
            z-index: -1;
            left: -25px;
            border-bottom-right-radius: 25px;
        }
    }
}

.tabcontent {
    display: none;
    padding: 35px 50px;
    background-color: $navbar-color;
    border-radius: 0 25px 0 0;

    &.open {
        display: block;
    }

    article:not(:last-child) {
        border-bottom: 1px solid #333333;
    }
}
