@import "../../../variables";

.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 20px;

    .container {
        border: 0.5px solid gray;
        color: $secondary-color;
        display: flex;
        justify-content: space-between;
        border-bottom: none;

        .releaseData {
            padding: 10px;
        }
    }

    .container1 {
        border: 0.5px solid gray;
        color: $secondary-color;
        display: flex;
        justify-content: space-between;

        .releaseData {
            padding: 10px;
        }

        .active {
            color: green;
        }
    }
}
