@import "../../variables";

nav {
    position: fixed;
    background-color: $navbar-color;
    width: $navbar-width;
    height: 100vh;
    padding: 30px;

    @media only screen and (max-width: 768px) {
        position: relative;
        overflow: hidden;
    }

    a {
        color: white;
        font-size: 1.15em;
        font-family: "Montserrat Medium";
        font-weight: 400;
        text-decoration: none;
        transition: 0.25s;

        &:hover {
            color: $primary-color !important;
            text-decoration: none;
        }
    }

    img {
        max-width: 100%;
        padding-bottom: 40px;
    }

    ul {
        list-style-type: none;
    }
}

.overlay {
    width: $navbar-width;
    height: 100vh;
}
