@import "../../../../variables";

.LargeButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    background-color: $primary-color;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    .text {
        color: $font-color;
        transition: 0.4s;
        z-index: 2;
        text-decoration: none;
    }

    &:hover {
        background-color: #cf0168d3;
        transition: all 0.3s ease-Out;
        .text {
            color: white;
        }
    }
}

//Add this classname to your button to create a small styled button
