.cardListWrapper {
    width: 100%;
    margin: 0;
    height: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 40px;

    @media screen and (max-width: 960px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}