// For flex-based system (+ ReleaseCard SCSS)
// .cardListWrapper {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     margin: 0 -25px;
// }

.cardListWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 30px;

    @media screen and (max-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 568px) {
        grid-template-columns: 1fr;
    }
}
