@import "../../../variables";

.StatusBar {
    display: flex;
    align-items: center;
    height: 60px;

    .title {
        width: 80%;
    }

    .type {
        width: 10%;
        padding-left: 20px;
    }

    .status {
        width: 10%;
        text-align: right;

        &.live {
            color: #00ff00;
        }
    }

    div {
        height: 100%;
        line-height: 60px;
        font-family: "Montserrat Light";

        &:not(:last-child) {
            border-right: 1px solid #333333;
        }
    }
}
