@import "../../../../variables";

.Profile {
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        img {
            width: 120px;
            border-radius: 50%;
        }

        .details {
            margin-left: 60px;
            text-align: right;

            h2 {
                font-size: 36px;
                font-family: "Montserrat Light";
                text-align: left;
            }

            p {
                font-family: $font-stack;
                font-size: 20px;
                color: #888888;
                float: left;
            }
        }
    }
}
