@import "../../../../variables";

.Profile {
    .wrapper {
        display:flex;
        height:200px;
        align-items:center;    
    }

    .header {
        display: flex;
        align-items: center;
        flex-direction:column;

        img {
            width: 120px;
            border-radius: 50%; 
        }

        .bio {
            font-size:11px;
            margin-top:5px;
            transition:0.5s;
            color: grey;

            &:hover {
                color:$primary-color;
                cursor:pointer;
                transition:0.5s;
            }
        }
    }
    
    .header2 {
        margin-left:20px;

        .details {
            h2 {
                font-size: 36px;
                font-family: "Montserrat Light";
                text-align: left;
            }

            p {
                font-family: $font-stack;
                font-size: 20px;
                color: #888888;
                float: left;
            }
        } 
    }

    .tabcontent {
        text-align: unset;
    }
}
