@import "../../../../variables";

.Profile {
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        img {
            width: 120px;
            border-radius: 50%;
        }

        h2 {
            font-family: "Montserrat Light";
            font-size: 28px;
            padding: 0 25px;
        }
    }
}
