@import "../../variables";

.mainWrapper {
    min-height: 100vh;
    width: 100%;
    background-color: $background-color;

    .imageWrapper {
        display: flex;
        justify-content: center;
        width: 175px;
    }
    .dropLogo {
        max-width: 200px;
        margin: 25px;
    }

    .streamWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2,
        p {
            text-align: center;
        }

        .buttonsWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 280px;

            > div {
                margin: 15px;
            }
        }
    }
}
