
@import "../../../variables";
.editor {
    border: 1px solid lightgrey;
    min-height: 200px;
}

button {
    color: $primary-color;
    font-weight: bold;
    margin: 10px 15px 0 0;
    padding: 5px;
    width: 80px;
    border: none;
    background-color: $secondary-color;
    
    // display: flex;
    // justify-items: flex-end;

    &:hover {
        // background-color: lighten($color: gray, $amount: 20);
        color: white;
        
    }

}