@import "../../../variables";

.editor {
    border: 1px solid lightgrey;
    min-height: 200px;
}


.wysiWrapper {
    
        display: flex;
        flex-direction: row;
        margin: 10px 15px 0 0;
        padding: 5px;
}

// button {
//     color: $primary-color;
//     font-weight: bold;
//     margin: 10px 15px 0 0;
//     padding: 5px;
//     width: 80px;
//     border: none;
//     background-color: $secondary-color;

//     &:hover {
//         color: white;
//     }

//     &:focus {
//         outline: 0;
//     }
// }