@font-face {
    font-family: Avenir;
    src: url("./static/fonts/Avenir-Medium.ttf");
}

@font-face {
    font-family: "Montserrat Black";
    src: url("./static/fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("./static/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("./static/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("./static/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("./static/fonts/Montserrat-Light.ttf");
}
