$font-stack: Avenir, sans-serif;

$primary-color: #ff007e;
$secondary-color: #222528;

@font-face {
    font-family: Avenir;
    src: url("./static/fonts/Avenir-Medium.ttf");
}

// Colour Chart:
//      - Purple    #b400ff
//      - Blue      #0055ff
//      - Green     #00ff00
//      - Yellow    #f2ff00
//      - Orange    #ff5a00
//      - Red       #ff0043
