@import "./fonts";

$font-stack: "Montserrat Medium", sans-serif;

$primary-color: #ff007e;
$secondary-color: #222528;
$background-color: #1a1c1f;
$navbar-color: #121417;
$font-color: white;

// Colour Chart:
//      - Purple    #b400ff
//      - Blue      #0055ff
//      - Green     #00ff00
//      - Yellow    #f2ff00
//      - Orange    #ff5a00
//      - Red       #ff0043
