$font-stack:    Avenir, sans-serif;
$primary-color: #ff007e;
$secondary-color: #222528;

@font-face {
  font-family: Avenir;
  src: url('./static/fonts/Avenir-Medium.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

