.topPart {
    display: flex;
    justify-content: space-between;
    // border: 2px solid black;
    align-items: baseline;
    padding-top: 20px;
    margin-right: 50px;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 10px;

    div {
        // border: 2px solid green;
        width: 700px;
        display: flex;
        justify-content: space-evenly;


        button {
            border-radius: 5px;
            height: 40px;
            width: 200px;
        }
    }  
}

h4, h3, form {
    padding-top: 20px;
    margin-left: 10px;
}

.initialDescription {
    padding: 20px 0;

    form input {
        width: 100%;

        &:last-child{
            height: 100px;
        }
        
    }
}

.announcementDate {

    input {
        width: 25px;
        text-align: center;
        // background-color: blue;

        &:nth-child(2), &:nth-child(4), &:nth-child(9), &:nth-child(11) {
            // background-color: red;
            margin-right: 10px;
        }

        &:nth-child(8) {
            margin-right: 30px;
        }

        &:nth-child(12), &:nth-child(13) {
            width: 35px;;
        }
    }
}

.wysiwyg input {
    width: 100%;
    height: 200px;
    margin: 20px 0px;
}

hr {
    width: 90%;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.URI {
    display: inline;
}