@import "../../variables";

.ChooseArtists {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 100%;

    h2 {
        text-align: center;
        font-size: 28px;
        margin: 40px;
    }

    .artist {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid lightgrey;
        align-items: center;
        width: 40vw;
        padding: 10px;
        font-weight: bold;
    }
    
}

@media screen and (max-width: 768px) {
    .artist {
        min-width: 70vh;
    }
}
